.subtitulos{
    color: gray;
    
}

.tarjetas{
    
    border-color: green;
    border-style: outset;
    border-radius: 5%;
    border-width: 5px;
}

.titulo{
    background-color: rgb(100, 163, 5);
}

.footercolor{

    background-color: rgb(100, 163, 5);
}