<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
          text="Atras"
          color="primary"
          mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-label routerLink="/">Argentina</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/">Brasil</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/">Bolivia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/pais">Chile</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/">Colombia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/">Ecuador</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/">Paraguay</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/">Perú</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Uruguay</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Venezuela</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
